extends layout
block content
    div(class='content')
        h4 about
        div(class='rules')
            div(class='nicealign')
                p
                    b Rules defined for a team for code review to be considered done.
                p 1.Verify directory and file organization are followed
                p 2.Verify proper comments and declarations are in place
                p 3.Verify naming conventions are followed
                p 4.Verify miscellaneous practices are followed
                p 5.Verify coding standards are taken care