doctype html
html
    head
        link(rel='stylesheet', href='stylesheets/about.css')
    head
    body
        center
            h1 Definition of Done 
            p Lineup for code review process
            div(class='dropdown')
                a(href='http://localhost:2000/', class='select') select
                div(class='rest')
                    a(href='http://localhost:2000/') above
                    a(href='http://localhost:2000/checklist') checklist
                    a(href='http://localhost:2000/done') done
            block content
                        