body
    background-color: pink
.rules 
    background-color: white
    width: 60%
.nicealign
    width: 55%
    height: 40%
    text-align: left
a
    display: block
    text-decoration: none
.select
    width: 6%
.rest 
    display: none
    background-color: white
    width: 6%
.select:hover + .rest 
    display: block
.rest:hover
    display: block
